.cbp-mc-form {
	position: relative;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.cbp-mc-form:before, 
.cbp-mc-form:after { 
	content: " "; display: table; 
}

.cbp-mc-form:after { 
	clear: both; 
}

.cbp-mc-column {
	width: 50%;
	padding: 10px 30px;
	/*float: left;*/
    margin: 0 auto;
}

.cbp-mc-column2 {
	width: 100%;
}

.cbp-mc-form label {
	display: block;
	padding: 40px 5px 5px 2px;
	font-size: 1.1em;
	text-transform: uppercase;
    text-wrap:normal;
	letter-spacing: 1px;
	cursor: pointer;
}



.cbp-mc-form input,
.cbp-mc-form textarea,
.cbp-mc-form select {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	line-height: 1.5;
	font-size: 1.4em;
	padding: 5px 10px;
	color: #fff;
	display: block;
	width: 100%;
	background: #47a3da;
}

.cbp-mc-form input,
.cbp-mc-form textarea {
	border: 3px solid #fff;
}

.cbp-mc-form textarea {
	min-height: 200px;
}

.cbp-mc-form input:focus,
.cbp-mc-form textarea:focus,
.cbp-mc-form label:active + input,
.cbp-mc-form label:active + textarea {
	outline: none;
	border: 3px solid #10689a;
}

.cbp-mc-form select:focus {
	outline: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #10689a;
    font-style: italic;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #10689a;
    font-style: italic;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #10689a;
    font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #10689a;
    font-style: italic;
}

.cbp-mc-submit-wrap {
	text-align: center;
	padding-top: 40px;
	clear: both;
}

.cbp-mc-form input.cbp-mc-submit {
	background: #10689a;
	border: none;
	color: #fff;
	width: auto;
	cursor: pointer;
	text-transform: uppercase;
	display: inline-block;
	padding: 15px 30px;
	font-size: 1.1em;
	border-radius: 2px;
	letter-spacing: 1px;
    text-align: center;
}

.radioLabel{
    
  clear: none;
 display:inline-block !important;
  padding: 2px 1em 0 0;
}
.radioSL{
    display: inline-block !important;
	width: 1% !important;
  clear: none;
  margin: 2px 0 0 2px;
}

.cbp-mc-form input.cbp-mc-submit:hover {
	background: #1478b1;
}

.div-Radio-Checkbox {
    margin-top:40px;
}
/*Added style for div labels, radio buttons and checkboxes*/ 
.div-Radio-Checkbox label {
    float:left;
    padding:3px 0px;
}

.div-Radio-Checkbox input{
    float:left;
    height:30px;
    margin-right: 10px;
	width:30px; 
}

.ulSelected li {
    width:90%;
    cursor:pointer;
}

.ulOptions li {
    width:90%;
    cursor:pointer;
}
.selected {
  background: #10689A;
}

.normalInnerContent{
    font-size: 1.25em;
	/*padding: 3em 1em;*/
	display: block;
    /*Adding width for content block*/
    width:100%;
	font-weight: 300;
	margin: 0 auto;
}

@media screen and (max-width: 800px) {
	.cbp-mc-column {
		width: 80%;
	}
	.cbp-mc-column:nth-child(3) {
		width: 100%;
	}
}

@media screen and (max-width: 1000px) {
	.cbp-mc-column {
		width: 80%;
	}
	.cbp-mc-column:nth-child(3) {
		width: 100%;
	}
}

@media screen and (max-width: 1200px) {
	.cbp-mc-column {
		width: 60%;
	}
	.cbp-mc-column:nth-child(3) {
		width: 100%;
	}
}

@media screen and (max-width: 48em) {
	.cbp-mc-column {
		width: 100%;
		padding: 10px;
	}
}