﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wits Enterprise</title>
    <meta name="description" content="Wits Enterprise" />
    <meta name="keywords" content="responsive form, inputs, html5, responsive, multi-column, fluid, media query, template" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/css/default.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/css/component.css" />
    <script src="~/Content/Theme/js/modernizr.custom.js"></script>
</head>
<body>
    <div class="container">
        <header class="clearfix">
            <span>University of the Witwatersrand</span>
            <h1>Wits Enterprise</h1>
            @*<nav>
                    <a href="http://tympanus.net/Blueprints/TooltipMenu/" class="bp-icon bp-icon-prev" data-info="Previous Step"><span>Previous Step</span></a>
                    <a href="http://tympanus.net/Blueprints/AnimatedHeader/" class="bp-icon bp-icon-next" data-info="Next Step"><span>Next Step</span></a>
                    <a href="http://tympanus.net/codrops/?p=15320" class="bp-icon bp-icon-drop" data-info="back to the Codrops article"><span>back to the Codrops article</span></a>

                </nav>*@
        </header>
        <div class="main">
            <form class="cbp-mc-form">
                <div class="cbp-mc-submit-wrap">
                    <h1>Login</h1>
                    <br style="clear:both" />
                    <div class="cbp-mc-column">
                        <input type="text" id="txtUserEmail" placeholder="Email" />
                        <br style="clear:both" />
                        <input type="password" id="txtPassword" placeholder="Password" />
                        <h2>Let's Get Started</h2>
                    </div>
                    <br style="clear:both" />
                </div>
                <div class="cbp-mc-submit-wrap"><input type="button" class="cbp-mc-submit" value="Login" readonly="readonly" onclick="location.href='@Url.Action("Dashboard", "FlowPages")'" /></div>
            </form>
        </div>
    </div>
</body>
</html>
