﻿@using MvcSiteMapProvider.Web.Html
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wits Enterprise</title>
    <meta name="description" content="Wits Enterprise" />
    <meta name="keywords" content="responsive tabs, full width tabs, template, blueprint" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/css/demoTab.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/css/componentTab.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/css/default.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/css/component.css" />
    <script src="~/Content/Theme/js/modernizr.custom.js"></script>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <header class="clearfix">
            <span>University of the Witwatersrand </span>
            <h1>Wits Enterprise</h1>
            <br style="clear:both" />
            <h2>Agitation</h2>
            <nav>
                <a href="@Url.Action("MicrobialGrowthConditions","FlowPages")" class="bp-icon bp-icon-prev" data-info="Microbial Growth Conditions"><span>Microbial Growth Conditions</span></a>
                <a href="@Url.Action("CellDisruption","FlowPages")" class="bp-icon bp-icon-next" data-info="Cell Disruption"><span>Cell Disruption</span></a>
            </nav>
            @Html.MvcSiteMap().SiteMapPath()
        </header>
        <div class="normalInnerContent">
            <form class="cbp-mc-form">
                <div class="cbp-mc-column">
                    @*<h3>Agitation</h3>*@
                    <label for="txtPowerPerUnit">Power Per Unit</label>
                    <input type="text" id="txtPowerPerUnit" name="txtPowerPerUnit">
                    <h2>OR</h2>
                    <select id="lstImpellerType" name="lstImpellerType">
                        <option>Impeller Type</option>
                    </select>
                    <div class="div-Radio-Checkbox">
                        <input type="checkbox" id="cbOverrideAG" name="cbOverrideAG">
                        <label for="cbOverrideAG">Override</label>
                    </div>
                    <br style="clear:both" />
                        <label for="txtNumberOfTanks">Number of Tanks</label>
                        <input type="text" id="txtNumberOfTanks" name="txtNumberOfTanks" disabled="disabled">
                        <label for="txtAgitationEfficiency">Agitation Efficiency</label>
                        <input type="text" id="txtAgitationEfficiency" name="txtAgitationEfficiency" disabled="disabled">
                        <label for="txtReactorLength">Lenth of Reactor/ Diameter of Reactor</label>
                        <input type="text" id="txtReactorLength" name="txtReactorLength" disabled="disabled">
                        <label for="txtImpellerSpeed">Impeller Speed</label>
                        <input type="text" id="txtImpellerSpeed" name="txtImpellerSpeed" disabled="disabled">
                        <label for="txtNumberOfImpellerBlades">Number Of Impeller Blades</label>
                        <input type="text" id="txtNumberOfImpellerBlades" name="txtNumberOfImpellerBlades" disabled="disabled">
                        <label for="txtImpellerReactorDiameter">Impeller Diameter/ Reactor Diameter</label>
                        <input type="text" id="txtImpellerReactorDiameter" name="txtImpellerReactorDiameter" disabled="disabled">
                        <label for="txtImpellerReactorLength">Impeller Blade Width/ Reactor Length</label>
                        <input type="text" id="txtImpellerReactorLength" name="txtImpellerReactorLength" disabled="disabled">
                        <label for="txtPPUnitVolume">Power Per Unit Volume</label>
                        <input type="text" id="txtPPUnitVolume" name="txtPPUnitVolume" disabled="disabled">
                    </div>
                <div class="cbp-mc-submit-wrap"><input class="cbp-mc-submit" value="Next" readonly="readonly" onclick="window.location.href = '@Url.Action("CellDisruption", "FlowPages")'" /></div>
            </form>
        </div>
            @*<p class="info">Food Shapes/Icons by <a href="http://psdblast.com/50-food-icon-set-psd">PsdBlast</a></p>*@
            <p class="info"><a href="https://www.wits.ac.za/">University of the Witwatersrand</a></p>
        </div>
    @Scripts.Render("~/bundles/jquery")

    <script type="text/javascript">
        $("#cbOverrideAG").click(function () {
            if ($('#cbOverrideAG').is(':checked')) {
                $('#txtNumberOfTanks').removeAttr("disabled");
                $('#txtAgitationEfficiency').removeAttr("disabled");
                $('#txtReactorLength').removeAttr("disabled");
                $('#txtImpellerSpeed').removeAttr("disabled");
                $('#txtNumberOfImpellerBlades').removeAttr("disabled");
                $('#txtImpellerReactorDiameter').removeAttr("disabled");
                $('#txtImpellerReactorLength').removeAttr("disabled");
                $('#txtPPUnitVolume').removeAttr("disabled");
            }
            else {
                $('#txtNumberOfTanks').attr("disabled", "disabled");
                $("#txtNumberOfTanks").val("");
                $('#txtAgitationEfficiency').attr("disabled", "disabled");
                $("#txtAgitationEfficiency").val("");
                $('#txtReactorLength').attr("disabled", "disabled");
                $("#txtReactorLength").val("");
                $('#txtImpellerSpeed').attr("disabled", "disabled");
                $("#txtImpellerSpeed").val("");
                $('#txtNumberOfImpellerBlades').attr("disabled", "disabled");
                $("#txtNumberOfImpellerBlades").val("");
                $('#txtImpellerReactorDiameter').attr("disabled", "disabled");
                $("#txtImpellerReactorDiameter").val("");
                $('#txtImpellerReactorLength').attr("disabled", "disabled");
                $("#txtImpellerReactorLength").val("");
                $('#txtPPUnitVolume').attr("disabled", "disabled");
                $("#txtPPUnitVolume").val("");
            }
        });
    </script>
</body>
</html>
