﻿@using MvcSiteMapProvider.Web.Html
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wits Enterprise</title>
    <meta name="description" content="Wits Enterprise" />
    <meta name="keywords" content="responsive tabs, full width tabs, template, blueprint" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/css/demoTab.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/css/componentTab.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/css/default.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/css/component.css" />
    <script src="~/Content/Theme/js/modernizr.custom.js"></script>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <header class="clearfix">
            <span>University of the Witwatersrand </span>
            <h1>Wits Enterprise</h1>
            <br style="clear:both" />
            <h2>Cell Disruption</h2>
            <nav>
                <a href="@Url.Action("Agitation","FlowPages")" class="bp-icon bp-icon-prev" data-info="Agitation"><span>Agitation</span></a>
                <a href="@Url.Action("SolidLiquidSeperation","FlowPages")" class="bp-icon bp-icon-next" data-info="Solid Liquid Seperation"><span>Solid Liquid Seperation</span></a>
            </nav>
            @Html.MvcSiteMap().SiteMapPath()
        </header>
        <div class="normalInnerContent">
            <form class="cbp-mc-form">
                <div class="cbp-mc-column">
                    @*<h3>Cell Disruption</h3>*@
                    <label for="txtDisruptionMethod">Power Per Unit</label>
                    <select id="lstDisruptionMethod" name="lstDisruptionMethod">
                        <option>Not Selected</option>
                    </select>
                    <label for="txtCellDisruptionEfficiency">Cell Disruption Efficiency</label>
                    <input type="text" id="txtCellDisruptionEfficiency" name="txtCellDisruptionEfficiency">
                    <label for="txtEnergyPerUnitVolume">Energy Per Unit Volume</label>
                    <input type="text" id="txtEnergyPerUnitVolume" name="txtEnergyPerUnitVolume">
                    <label for="txtResidenceTime">Residence Time</label>
                    <input type="text" id="txtResidenceTime" name="txtResidenceTime">
                </div>
                <div class="cbp-mc-submit-wrap"><input class="cbp-mc-submit" value="Next" readonly="readonly" onclick="window.location.href = '@Url.Action("SolidLiquidSeperation", "FlowPages")'" /></div>
            </form>
        </div>
        @*<p class="info">Food Shapes/Icons by <a href="http://psdblast.com/50-food-icon-set-psd">PsdBlast</a></p>*@
        <p class="info"><a href="https://www.wits.ac.za/">University of the Witwatersrand</a></p>
    </div>
    @Scripts.Render("~/bundles/jquery")

</body>
</html>
