﻿@using MvcSiteMapProvider.Web.Html
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wits Enterprise</title>
    <meta name="description" content="Wits Enterprise" />
    <meta name="keywords" content="responsive tabs, full width tabs, template, blueprint" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico">
    @*<link rel="stylesheet" type="text/css" href="~/Content/Theme/css/demoTab.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/css/componentTab.css" />*@
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/css/default.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/css/component.css" />
    <script src="~/Content/Theme/js/modernizr.custom.js"></script>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <header class="clearfix">
            <span>University of the Witwatersrand </span>
            <h1>Wits Enterprise</h1>
            <br style="clear:both" />
            <h2>Concentration/Purification (Repeatable)</h2>
            <nav>
                <a href="@Url.Action("SolidLiquidSeperation","FlowPages")" class="bp-icon bp-icon-prev" data-info="Solid Liquid Seperation"><span>Solid Liquid Seperation</span></a>
                <a href="@Url.Action("Formulation","FlowPages")" class="bp-icon bp-icon-next" data-info="Formulation"><span>Formulation</span></a>
            </nav>
            @Html.MvcSiteMap().SiteMapPath()
        </header>
        <div class="normalInnerContent">
            <form class="cbp-mc-form">
                <div class="cbp-mc-column">
                    @*<h3>Concentration/Purification (Repeatable)<br /><span style="font-size:14px;">(ONLY IF INTRACELLULAR)</span></h3>*@
                    <select id="lstMethod" name="lstMethod">
                        <option>Method</option>
                    </select>
                    <h4>* If Precipitation *</h4>
                    <div>
                    <div style="float:left; width:33.3%;">
                        <h3>Options</h3>
                        <div style="border:solid;">
                            <ul id="ulOptions" class="ulOptions">
                                <li>
                                    Item One
                                </li>
                                <li>
                                    Item Two
                                </li>
                                <li>
                                    Item Three
                                </li>
                                <li>
                                    Item Four
                                </li>
                                <li>
                                    Item Five
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div style="float:left; width:33.3%; padding-top:40px;">
                        <div class="cbp-mc-submit-wrap"><input style="width:100px; text-align:center; display:table; margin:0 auto;" value="Add" readonly="readonly" onclick="btnAddItem()" /></div>
                        <div class="cbp-mc-submit-wrap"><input style="width:100px; text-align:center; display:table; margin:0 auto;" value="Rem" readonly="readonly" onclick="btnRemoveItem()" /></div>
                    </div>
                    <div style="float:right; width:33.3%;">
                        <h3>Selected</h3>
                        <div style="border:solid;">
                            <ul id="ulSelected" class="ulSelected"></ul>
                        </div>
                    </div>
                </div>
                    <br />
                    <br style="clear:both" />
                    <label for="txtElectricity">Electricity</label>
                    <input type="text" id="txtElectricity" name="txtElectricity">
                    <label for="txtPumpingEfficiecy">Pumping Efficiency</label>
                    <input type="text" id="txtPumpingEfficiecy" name="txtPumpingEfficiecy">
                    <label for="txtHeadedTemparature">Headed Temperature</label>
                    <input type="text" id="txtHeadedTemparature" name="txtHeadedTemparature">
                    <label for="txtOutletTemperature">Outlet Temperature</label>
                    <input type="text" id="txtOutletTemperature" name="txtOutletTemperature">
                    <label for="txtResidenceTime">Residence Time</label>
                    <input type="text" id="txtResidenceTime" name="txtResidenceTime">
                    <label for="txtPPUnitVolume">Power Per Unit Volume</label>
                    <input type="text" id="txtPPUnitVolume" name="txtPPUnitVolume">

                    <h2>Additional Flows</h2>
                    <label for="txtExistingChemical">Choose Existing Chemical</label>
                    <select id="lstExistingChemical" name="lstExistingChemical">
                        <option>Carbon Source 1 (Glucose)</option>
                    </select>
                    <br />
                    <div style="float:left;">
                        <select id="lstReactant1" name="lstReactant1">
                            <option>Reactant</option>
                        </select>
                        <h2>+</h2>
                        <select id="lstReactant2" name="lstReactant2">
                            <option>Reactant</option>
                        </select>
                    </div>

                </div>
                <div class="cbp-mc-submit-wrap"><input class="cbp-mc-submit" value="Next" readonly="readonly" onclick="window.location.href = '@Url.Action("Formulation", "FlowPages")'" /></div>
            </form>
        </div>
        @*<p class="info">Food Shapes/Icons by <a href="http://psdblast.com/50-food-icon-set-psd">PsdBlast</a></p>*@
        <p class="info"><a href="https://www.wits.ac.za/">University of the Witwatersrand</a></p>
    </div>
    @Scripts.Render("~/bundles/jquery")

    <script type="text/javascript">
        var selectedItem;
        var removeItem;

        //Highlight and save Selected Item (JQuery)
        //$("#ulOptions li").click(function () {
        //    removeItem = null;
        //    $(".ulOptions li").css("background", "inherit");
        //    $(".ulSelected li").css("background", "inherit");
        //    selectedItem = $(this).children(1).clone();
        //    $(this).css("background", "#10689A");
        //    alert(selectedItem);
        //});

        //$("#ulSelected li").click(function () {
        //    selectedItem = null;
        //    $(".ulOptions li").css("background", "inherit");
        //    $(".ulSelected li").css("background", "inherit");
        //    removeItem = $(this);
        //    $(this).css("background", "#10689A");
        //});

        //Highlight and save Selected Item
        document.getElementById('ulOptions').addEventListener('click', function (e) {
            var selected;
            removeItem = null;
            if (e.target.tagName === 'LI') {
                selected = document.querySelector('li.selected');
                if (selected) selected.className = '';
                e.target.className = 'selected';
                selectedItem = e.target;
                //alert(selectedItem);
            }
        });

        //Highlight and save Selected Item to Remove
        document.getElementById('ulSelected').addEventListener('click', function (e) {
            var selected;
            selectedItem = null;
            if (e.target.tagName === 'LI') {
                selected = document.querySelector('li.selected');
                if (selected) selected.className = '';
                e.target.className = 'selected';
                removeItem = e.target;
                //alert(removeItem);
            }
        });

        //Add item to selected list
        function btnAddItem() {
            if (selectedItem != null) {
                var ul = document.getElementById("ulSelected");
                var item = selectedItem.cloneNode(true);
                item.className = '';
                ul.appendChild(item);
            }
        }

        function btnRemoveItem() {
            if (removeItem != null) {
                removeItem.remove();
            }
        }
    </script>
</body>
</html>
