﻿@using MvcSiteMapProvider.Web.Html
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wits Enterprise</title>
    <meta name="description" content="Wits Enterprise" />
    <meta name="keywords" content="responsive tabs, full width tabs, template, blueprint" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/css/demoTab.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/css/componentTab.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/css/default.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/css/component.css" />
    <script src="~/Content/Theme/js/modernizr.custom.js"></script>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <header class="clearfix">
            <span>University of the Witwatersrand </span>
            <h1>Wits Enterprise</h1>
            <br style="clear:both" />
            <h2>Formulation</h2>
            <nav>
                <a href="@Url.Action("ConcentrationPurification","FlowPages")" class="bp-icon bp-icon-prev" data-info="Concentration/Purification"><span>Concentration/Purification</span></a>
                <a href="@Url.Action("WasteWaterTreatment","FlowPages")" class="bp-icon bp-icon-next" data-info="Waste Water Treatment"><span>Waste Water Treatment</span></a>
            </nav>
            @Html.MvcSiteMap().SiteMapPath()
        </header>
        <div class="normalInnerContent">
            <form class="cbp-mc-form">
                <div class="cbp-mc-column">
                    @*<h3>Formualtion (Only If Solid)</h3>*@
                    <div class="div-Radio-Checkbox">
                        <input type="radio" id="rdCurrentEvaporation" name="rdCurrentEvaporation">
                        <label for="rdCurrentEvaporation">Current & Evaporation</label>
                    </div>
                    <br style="clear:both;" />
                    <br style="clear:both;" />
                    <select id="lstMethodF" name="lstMethodF">
                        <option>Method</option>
                    </select>

                </div>
                <div class="cbp-mc-submit-wrap"><input class="cbp-mc-submit" value="Next" readonly="readonly" onclick="window.location.href = '@Url.Action("WasteWaterTreatment", "FlowPages")'" /></div>
            </form>
        </div>
        @*<p class="info">Food Shapes/Icons by <a href="http://psdblast.com/50-food-icon-set-psd">PsdBlast</a></p>*@
        <p class="info"><a href="https://www.wits.ac.za/">University of the Witwatersrand</a></p>
    </div>
    @Scripts.Render("~/bundles/jquery")

</body>
</html>
