﻿@using MvcSiteMapProvider.Web.Html
@model Wits_Enterprises.Controllers.FlowPagesController.GenericFlowsheetInfo
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wits Enterprise</title>
    <meta name="description" content="Wits Enterprise" />
    <meta name="keywords" content="responsive tabs, full width tabs, template, blueprint" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/css/demoTab.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/css/componentTab.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/css/default.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/css/component.css" />
    <script src="~/Content/Theme/js/modernizr.custom.js"></script>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        
        <header class="clearfix">
            <span>University of the Witwatersrand </span>
            <h1>Wits Enterprise</h1>
            <br style="clear:both" />
            <h2>Generic Flowsheet</h2>
            <nav>
                <a href="@Url.Action("Dashboard","FlowPages")" class="bp-icon bp-icon-prev" data-info="Dashboard"><span>Dashboard</span></a>
                <a href="@Url.Action("MicrobialGrowthConditions","FlowPages")" class="bp-icon bp-icon-next" data-info="Microbial Growth Conditions"><span>Microbial Growth Conditions</span></a>
            </nav>
            @Html.MvcSiteMap().SiteMapPath()
        </header>
        <div id="tabs" class="tabs">
            <nav>
                <ul>
                    <li id="section1"><a href="#section-1" class="icon-lab"><span>Step 1</span></a></li>
                    <li id="section2"><a href="#section-2" class="icon-lab"><span>Step 2</span></a></li>
                    <li id="section3"><a href="#section-3" class="icon-lab"><span>Step 3</span></a></li>
                    <li id="section4"><a href="#section-4" class="icon-lab"><span>Step 4</span></a></li>
                    <li id="section5"><a href="#section-5" class="icon-lab"><span>Step 5</span></a></li>
                    <li id="section6"><a href="#section-6" class="icon-lab"><span>Step 6</span></a></li>
                    <li id="section7"><a href="#section-7" class="icon-lab"><span>Step 7</span></a></li>
                    <li id="section8"><a href="#section-8" class="icon-lab"><span>Step 8</span></a></li>
                </ul>
            </nav>
        @using (Html.BeginForm("GenericFlowsheet", "FlowPages"))
        {
                <div class="content">
                    <section id="section-1">
                        <div class="mediabox">
                            <div class="cbp-mc-form">
                                <div class="cbp-mc-column2">
                                    <h3>Select Product Location</h3>
                                    <br />
                                    <div class="div-Radio-Checkbox">
                                        @Html.RadioButtonFor(model => model.strSelectedProductLocation, "Extra Cellular", new { id = "bIsExtraCellular" })
                                        <label for="bIsExtraCellular">Extra Cellular</label>
                                    </div>
                                    <br style="clear:both" />
                                    <div class="div-Radio-Checkbox">
                                        @Html.RadioButtonFor(model => model.strSelectedProductLocation, "Intra Cellular", new { id = "bIsIntraCellular" })
                                        <label for="bIsIntraCellular">Intra Cellular</label>
                                    </div>
                                    <br style="clear:both" />
                                    <div class="div-Radio-Checkbox">
                                        @Html.RadioButtonFor(model => model.strSelectedProductLocation, "Microbial Growth", new { id = "bIsMicrobialGrowth" })
                                        <label for="bIsMicrobialGrowth">Microbial Growth</label>
                                    </div>

                                    <br style="clear:both" />

                                </div>
                                <div class="cbp-mc-submit-wrap"><input class="cbp-mc-submit" value="Next" readonly="readonly" onclick="viewSection2()" /></div>
                            </div>
                        </div>
                    </section>
                    <section id="section-2">
                        <div class="mediabox">
                            <div class="cbp-mc-form">
                                <div class="cbp-mc-column2">
                                    <h3>Total Mass</h3>
                                    <label for="txtTotalCrudeMass">Total Crude Mass Required</label>
                                    <input type="text" id="txtTotalCrudeMass" name="txtTotalCrudeMass" placeholder="Crude Mass" style="margin-bottom:70px !important;">
                                    <h2>OR</h2>
                                    <label for="txtTotalProductMass">Total Mass of Product Required</label>
                                    <input type="text" id="txtTotalProductMass" name="txtTotalProductMass" placeholder="Product Mass">
                                </div>
                                <div class="cbp-mc-submit-wrap"><input class="cbp-mc-submit" value="Next" readonly="readonly" onclick="viewSection3()" /></div>
                            </div>
                        </div>
                    </section>
                    <section id="section-3">
                        <div class="mediabox">
                            <div class="cbp-mc-form">
                                <div class="cbp-mc-column2">
                                    <h3>Oxygen</h3>
                                    <div class="div-Radio-Checkbox">
                                        @Html.RadioButtonFor(model => model.strOxygen, "Aerobic", new { id = "bIsAerobic" })
                                        <label for="bIsAerobic">Aerobic</label>
                                    </div>
                                    <br style="clear:both" />
                                    <div class="div-Radio-Checkbox">
                                        @Html.RadioButtonFor(model => model.strOxygen, "Anaerobic", new { id = "bIsAnaerobic" })
                                        <label for="bIsAnaerobic">Anaerobic</label>
                                    </div>
                                </div>
                                <div class="cbp-mc-submit-wrap"><input class="cbp-mc-submit" value="Next" readonly="readonly" onclick="viewSection4()" /></div>
                            </div>
                        </div>
                    </section>
                    <section id="section-4">
                        <div class="mediabox">
                            <div class="cbp-mc-form">
                                <div class="cbp-mc-column2">
                                    <h3>Process Time</h3>
                                    <div class="div-Radio-Checkbox">
                                        @Html.RadioButtonFor(model => model.strProcessTime, "Continuous", new { id = "bIsContinuous" })
                                        <label for="bIsContinuous">Continuous</label>
                                    </div>
                                    <br style="clear:both" />
                                    <div class="div-Radio-Checkbox">
                                        @Html.RadioButtonFor(model => model.strProcessTime, "Batch", new { id = "bIsBatch" })
                                        <label for="bIsBatch">Batch</label>
                                    </div>
                                </div>
                                <div class="cbp-mc-submit-wrap"><input class="cbp-mc-submit" value="Next" readonly="readonly" onclick="viewSection5()" /></div>
                            </div>
                        </div>
                    </section>
                    <section id="section-5">
                        <div class="mediabox">
                            <div class="cbp-mc-form">
                                <div class="cbp-mc-column2">
                                    <h3>Water Used</h3>
                                    <label for="lstWaterUsed">Water Used</label>
                                    <select id="lstWaterUsed" name="lstWaterUsed">
                                        <option>Select Water Used</option>
                                        <option>Municipal</option>
                                        <option>Distilled</option>
                                        <option>De-Ionised</option>
                                    </select>
                                </div>
                                <div class="cbp-mc-submit-wrap"><input class="cbp-mc-submit" value="Next" readonly="readonly" onclick="viewSection6()" /></div>
                            </div>
                        </div>
                    </section>
                    <section id="section-6">
                        <div class="mediabox">
                            <div class="cbp-mc-form">
                                <div class="cbp-mc-column2">
                                    <h3>Cooling Options</h3>
                                    <label for="txtCoolingWaterTemp">Cooling Water Temperature</label>
                                    <input type="text" id="txtCoolingWaterTemp" name="txtCoolingWaterTemp" placeholder="Temperature">
                                    <label for="txtChilledWaterTemp">Chilled Water Temperature</label>
                                    <input type="text" id="txtChilledWaterTemp" name="txtChilledWaterTemp" placeholder="Temperature">
                                    <label for="txtMinTemp">Minimum Allowed Temperature(Differences Across Streams)</label>
                                    <input type="text" id="txtMinTemp" name="txtMinTemp" placeholder="Temperature">
                                </div>
                                <div class="cbp-mc-submit-wrap"><input class="cbp-mc-submit" value="Next" readonly="readonly" onclick="viewSection7()" /></div>
                            </div>
                        </div>
                    </section>
                    <section id="section-7">
                        <div class="mediabox">
                            <div class="cbp-mc-form">
                                <div class="cbp-mc-column2">
                                    <h3>Reactor Temperature</h3>
                                    <label for="txtReactorTemp">Reactor Temperature</label>
                                    <input type="text" id="txtReactorTemp" name="txtReactorTemp" placeholder="Temperature">
                                    <label for="txtAmbientTemp">Ambient Temperature</label>
                                    <input type="text" id="txtAmbientTemp" name="txtAmbientTemp" placeholder="Ambient Temperature">
                                    <div class="div-Radio-Checkbox">
                                        <input type="checkbox" id="bIsReactorTempMaintained" name="bIsReactorTempMaintained">
                                        <label for="bIsReactorTempMaintained">Is Reactor Temperature Maintained?</label>
                                    </div>
                                    <br style="clear:both" />
                                    <div class="div-Radio-Checkbox">
                                        <input type="checkbox" id="bIsChilled" name="bIsChilled">
                                        <label for="bIsChilled">Is Chilled?</label>
                                    </div>
                                    <br style="clear:both" />
                                    <div id="divPostReactorInfo" style="display:none;">
                                        <hr />
                                        <h4>Post Reactor Information</h4>
                                        <label for="txtPostReactorCooling">Post Reactor Cooling</label>
                                        <input type="text" id="txtPostReactorCooling" name="txtPostReactorCooling" placeholder="Cooling Temperature">
                                        <label for="lstCoolant">Coolant</label>
                                        <select id="lstCoolant" name="lstCoolant">
                                            <option>Coolant</option>
                                            <option>Municiple</option>
                                            <option>Distilled</option>
                                            <option>De-Ionised</option>
                                        </select>
                                        <label for="txtOutletTemperature">Outlet Temperature</label>
                                        <input type="text" id="txtOutletTemperature" name="txtOutletTemperature" placeholder="Outlet Temperature">
                                        <label for="txtEfficiency">Efficiency (Cooling)</label>
                                        <input type="text" id="txtEfficiency" name="txtEfficiency" placeholder="Efficiency">
                                    </div>
                                </div>
                                <div class="cbp-mc-submit-wrap"><input class="cbp-mc-submit" value="Next" readonly="readonly" onclick="viewSection8()" /></div>
                            </div>
                        </div>
                    </section>
                    <section id="section-8">
                        <div class="mediabox">
                            <div class="cbp-mc-form">
                                <div class="cbp-mc-column2">
                                    <h3>Sterilization</h3>
                                    <label for="lstSterilization">Sterilization</label>
                                    <select id="lstSterilization" name="lstSterilization">
                                        <option>Sterilization</option>
                                        <option value="Steam">Steam</option>
                                        <option value="Filtration">Filtration</option>
                                        <option value="None">None</option>
                                    </select>
                                    <div id="divSteriliztionSteam" style="display:none;">
                                        <hr />
                                        <div class="div-Radio-Checkbox">
                                            <input type="checkbox" id="chkRecycledSteam" name="chkRecycledSteam">
                                            <label for="chkRecycledSteam">Preheat media with cooled recycled steam</label>
                                        </div>
                                        <br style="clear:both" />
                                        <label for="txtHeatedMediaTemp">Heated Media Temperature - In</label>
                                        <input type="text" id="txtHeatedMediaTemp" name="txtHeatedMediaTemp" placeholder="Temperature">
                                        <label for="txtSteriliztionTemp">Sterilization Temperature</label>
                                        <input type="text" id="txtSteriliztionTemp" name="txtSteriliztionTemp" placeholder="Sterilization Temperature">
                                        <label for="txtSteamTemp">Steam Temperature</label>
                                        <input type="text" id="txtSteamTemp" name="txtSteamTemp" placeholder="Steam Temperature">
                                        <label for="txtHeatTransferEfficiency">Heat Transfer Efficiency</label>
                                        <input type="text" id="txtHeatTransferEfficiency" name="txtHeatTransferEfficiency" placeholder="Efficiency">
                                        <label for="txtSterilizationTime">Sterilization Holding Time</label>
                                        <input type="text" id="txtSterilizationTime" name="txtSterilizationTime" placeholder="Holding Time">
                                        <label for="txtSVRatio">Surface Area to Volume Ratio</label>
                                        <input type="text" id="txtSVRatio" name="txtSVRatio" placeholder="Ratio">
                                        <label for="txtOverallHeatTransferCo">Overall Heat Transfer Coefficient</label>
                                        <input type="text" id="txtOverallHeatTransferCo" name="txtOverallHeatTransferCo" placeholder="Transfer">
                                        <label for="txtSteamPressure">Steam Pressure</label>
                                        <input type="text" id="txtSteamPressure" name="txtSteamPressure" placeholder="Pressure">
                                        <label for="txtSteamPressureEfficiency">Steam Pressure Efficiency</label>
                                        <input type="text" id="txtSteamPressureEfficiency" name="txtSteamPressureEfficiency" placeholder="Pressure Efficiency">
                                    </div>
                                    <div id="divFiltration" style="display:none;">
                                        <hr />
                                        <label for="txtFiltrationArea">Filtration Area</label>
                                        <input type="text" id="txtFiltrationArea" name="txtFiltrationArea" placeholder="Filtration Area">
                                        <label for="txtPressure">Pressure</label>
                                        <input type="text" id="txtPressure" name="txtPressure" placeholder="Pressure">
                                        <label for="txtEfficiency">Steam Temperature</label>
                                        <input type="text" id="txtEfficiency" name="txtEfficiency" placeholder="Efficiency">
                                        <label for="txtSterilizationTime">Sterilization Time</label>
                                        <input type="text" id="txtSterilizationTime" name="txtSterilizationTime" placeholder="Time">
                                    </div>
                                    <div id="divSterilizationNone" style="display:none;">
                                        <hr />
                                        <label for="txtOverrideEnergy">Override Energy</label>
                                        <input type="text" id="txtOverrideEnergy" name="txtOverrideEnergy" placeholder="Override Energy">
                                    </div>
                                </div>
                                @*<div class="cbp-mc-submit-wrap"><input class="cbp-mc-submit" value="Done" readonly="readonly" onclick="window.location.href = '@Url.Action("MicrobialGrowthConditions", "FlowPages")'"/></div>*@
                                <div class="cbp-mc-submit-wrap">
                                    <input id="btnGenericFlowsheet" class="cbp-mc-submit" value="Done" readonly="readonly" type="submit" style="width:323px;" />
                                </div>
                            </div>

                        </div>
                    </section>
                </div><!-- /content -->
        }
        </div><!-- /tabs -->
        @*<p class="info">Food Shapes/Icons by <a href="http://psdblast.com/50-food-icon-set-psd">PsdBlast</a></p>*@
        <p class="info"><a href="https://www.wits.ac.za/">University of the Witwatersrand</a></p>
    </div>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Content/Theme/js/cbpFWTabs.js"></script>
    <script>
			new CBPFWTabs( document.getElementById( 'tabs' ) );
    </script>
    <script>
        function viewSection2() {
            
            document.getElementById('section2').click();
        }
        function viewSection3() {

            document.getElementById('section3').click();
        }
        function viewSection4() {

            document.getElementById('section4').click();
        }
        function viewSection5() {

            document.getElementById('section5').click();
        }
        function viewSection6() {

            document.getElementById('section6').click();
        }
        function viewSection7() {

            document.getElementById('section7').click();
        }
        function viewSection8() {

            document.getElementById('section8').click();
        }

    </script>
    <script type="text/javascript">
    $(function () {
        $(document).ready(function () {
            $("#lstSterilization").change(function () {
                if ($(this).val() == "Steam") {
                    $("#divFiltration").hide();
                    $("#divSterilizationNone").hide();
                    $("#divSteriliztionSteam").show();
                }
                else if ($(this).val() == "Filtration") {
                    $("#divSteriliztionSteam").hide();
                    $("#divFiltration").show();
                    $("#divSterilizationNone").hide();
                }
                else if ($(this).val() == "None") {
                    $("#divSteriliztionSteam").hide();
                    $("#divFiltration").hide();
                    $("#divSterilizationNone").show();
                }
                else {
                    $("#divSteriliztionSteam").hide();
                    $("#divFiltration").hide();
                    $("#divSterilizationNone").hide();
                }
            });
        });
    });
    </script>
    <script type="text/javascript">
        $("#bIsChilled").click(function () {
            if ($('#bIsChilled').is(':checked')) {
                $("#divPostReactorInfo").show();
            }
            else {
                $("#divPostReactorInfo").hide();
            }
        });
    </script>
    <script type="text/javascript">
        submitForms = function () {
            document.getElementById("frmOne").submit();
            document.getElementById("frmTwo").submit();
        }
    </script>
</body>
</html>
