﻿@using MvcSiteMapProvider.Web.Html
@model Wits_Enterprises.Controllers.FlowPagesController.MicrobialGrowthConditionsInfo
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wits Enterprise</title>
    <meta name="description" content="Wits Enterprise" />
    <meta name="keywords" content="responsive tabs, full width tabs, template, blueprint" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/css/demoTab.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/css/componentTab.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/css/default.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/css/component.css" />
    <script src="~/Content/Theme/js/modernizr.custom.js"></script>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <header class="clearfix">
            <span>University of the Witwatersrand </span>
            <h1>Wits Enterprise</h1>
            <br style="clear:both" />
            <h2>Microbial Growth Conditions</h2>
            <nav>
                <a href="@Url.Action("GenericFlowsheet", "FlowPages")" class="bp-icon bp-icon-prev" data-info="Generic Flowsheet"><span>Generic Flowsheet</span></a>
                <a href="@Url.Action("Agitation","FlowPages")" class="bp-icon bp-icon-next" data-info="Agitation"><span>Agitation</span></a>
            </nav>
            @Html.MvcSiteMap().SiteMapPath()
        </header>

        <div id="tabs" class="tabs">
            <nav>
                <ul>
                    <li id="section1"><a href="#section-1" class="icon-lab"><span>Step 1</span></a></li>
                    <li id="section2"><a href="#section-2" class="icon-lab"><span>Step 2</span></a></li>
                    <li id="section3"><a href="#section-3" class="icon-lab"><span>Step 3</span></a></li>
                    <li id="section4"><a href="#section-4" class="icon-lab"><span>Step 4</span></a></li>
                    <li id="section5"><a href="#section-5" class="icon-lab"><span>Step 5</span></a></li>
                    <li id="section6"><a href="#section-6" class="icon-lab"><span>Step 6</span></a></li>
                    <li id="section7"><a href="#section-7" class="icon-lab"><span>Step 7</span></a></li>
                    @*<li id="section8"><a href="#section-8" class="icon-lab"><span>Step 8</span></a></li>*@
                </ul>
            </nav>

            <div class="content">
                @*<section id="section-1">
                    <div class="mediabox">
                        <form class="cbp-mc-form">
                            <div class="cbp-mc-column2">
                                <h3>Input Product</h3>
                                <label for="lstProductCategoryIP">Product Category</label>
                                <select id="lstProductCategoryIP" name="lstProductCategoryIP">
                                    <option>Amino Acids</option>
                                </select>
                                <label for="lstSpecificProductIP">Specific Product</label>
                                <select id="lstSpecificProductIP" name="lstSpecificProductIP">
                                    <option>Arginine</option>
                                </select>
                                <label for="lstProductPhaseIP">Product Phase</label>
                                <select id="lstProductPhaseIP" name="lstProductPhaseIP">
                                    <option>Liquid</option>
                                </select>
                                <div class="div-Radio-Checkbox">
                                    <input type="checkbox" id="cbOverrideIP" name="cbOverrideIP">
                                    <label for="cbOverrideIP">Override</label>
                                </div>
                                <br style="clear:both" />
                                <div id="divOverideInfoIP">
                                    <hr />
                                    <label for="txtCarbonIP">Carbon</label>
                                    <input type="text" id="txtCarbonIP" name="txtCarbonIP" disabled="disabled">
                                    <label for="txtHydrogenIP">Hydrogen</label>
                                    <input type="text" id="txtHydrogenIP" name="txtHydrogenIP" disabled="disabled">
                                    <label for="txtOxygenIP">Oxygen</label>
                                    <input type="text" id="txtOxygenIP" name="txtOxygenIP" disabled="disabled">
                                    <label for="txtNitrogenIP">Nitrogen</label>
                                    <input type="text" id="txtNitrogenIP" name="txtNitrogenIP" disabled="disabled">
                                    <label for="txtPhosphorusIP">Phosphorus</label>
                                    <input type="text" id="txtPhosphorusIP" name="txtPhosphorusIP" disabled="disabled">
                                    <label for="txtSulphurIP">Sulphur</label>
                                    <input type="text" id="txtSulphurIP" name="txtSulphurIP" disabled="disabled">
                                    <label for="txtSodiumIP">Sodium</label>
                                    <input type="text" id="txtSodiumIP" name="txtSodiumIP" disabled="disabled">
                                </div>
                            </div>
                            <div class="cbp-mc-submit-wrap"><input class="cbp-mc-submit" value="Next" readonly="readonly" onclick="viewSection2()" /></div>
                        </form>
                    </div>
                </section>*@
                <section id="section-1">
                    <div class="mediabox">
                        <form class="cbp-mc-form">
                            <div class="cbp-mc-column2">
                                <h3>Biomass</h3>
                                <label for="lstProductCategoryBM">Product Category</label>
                                <select id="lstProductCategoryBM" name="lstProductCategoryBM">
                                    <option>Yeast</option>
                                </select>
                                <label for="lstSpecificProductBM">Specific Product</label>
                                <select id="lstSpecificProductBM" name="lstSpecificProductBM">
                                    <option>Not Selected</option>
                                </select>
                                <div class="div-Radio-Checkbox">
                                    <input type="checkbox" id="cbOverrideBM" name="cbOverrideBM">
                                    <label for="cbOverrideBM">Override</label>
                                </div>
                                <br style="clear:both" />
                                <div id="divOverideInfoBM">
                                    <hr />
                                    <label for="txtCarbonBM">Carbon</label>
                                    <input type="text" id="txtCarbonBM" name="txtCarbonBM" disabled="disabled">
                                    <label for="txtHydrogenBM">Hydrogen</label>
                                    <input type="text" id="txtHydrogenBM" name="txtHydrogenBM" disabled="disabled">
                                    <label for="txtOxygenBM">Oxygen</label>
                                    <input type="text" id="txtOxygenBM" name="txtOxygenBM" disabled="disabled">
                                    <label for="txtNitrogenBM">Nitrogen</label>
                                    <input type="text" id="txtNitrogenBM" name="txtNitrogenBM" disabled="disabled">
                                    <label for="txtPhosphorusBM">Phosphorus</label>
                                    <input type="text" id="txtPhosphorusBM" name="txtPhosphorusBM" disabled="disabled">
                                    <label for="txtSulphurBM">Sulphur</label>
                                    <input type="text" id="txtSulphurBM" name="txtSulphurBM" disabled="disabled">
                                    <label for="txtSodiumBM">Sodium</label>
                                    <input type="text" id="txtSodiumBM" name="txtSodiumBM" disabled="disabled">
                                </div>
                            </div>
                            <div class="cbp-mc-submit-wrap"><input class="cbp-mc-submit" value="Next" readonly="readonly" onclick="viewSection2()" /></div>
                        </form>
                    </div>
                </section>
                <section id="section-2">
                    <div class="mediabox">
                        <form class="cbp-mc-form">
                            <div class="cbp-mc-column2">
                                <h3>Carbon Source</h3>
                                <label for="lstProductCategoryCS">Product Category</label>
                                <select id="lstProductCategoryCS" name="lstProductCategoryCS">
                                    <option>Glucose</option>
                                </select>
                                <label for="lstSpecificProductCS">Specific Product</label>
                                <select id="lstSpecificProductCS" name="lstSpecificProductCS">
                                    <option>Not Selected</option>
                                </select>
                                <div class="div-Radio-Checkbox">
                                    <input type="checkbox" id="cbOverrideCS" name="cbOverrideCS">
                                    <label for="cbOverrideCS">Override</label>
                                </div>
                                <br style="clear:both" />
                                <div id="divOverideInfoCS">
                                    <hr />
                                    <div style="float:left; width:40%; margin:5px;">
                                        <label for="txtCarbonCS">Carbon</label>
                                        <input type="text" id="txtCarbonCS" name="txtCarbonCS" disabled="disabled">
                                        <label for="txtHydrogenCS">Hydrogen</label>
                                        <input type="text" id="txtHydrogenCS" name="txtHydrogenCS" disabled="disabled">
                                        <label for="txtOxygenCS">Oxygen</label>
                                        <input type="text" id="txtOxygenCS" name="txtOxygenCS" disabled="disabled">
                                        <label for="txtNitrogenCS">Nitrogen</label>
                                        <input type="text" id="txtNitrogenCS" name="txtNitrogenCS" disabled="disabled">
                                    </div>
                                    <div style="float:right; width:40%; margin:5px">
                                        <label for="txtPhosphorusCS">Phosphorus</label>
                                        <input type="text" id="txtPhosphorusCS" name="txtPhosphorusCS" disabled="disabled">
                                        <label for="txtSulphurCS">Sulphur</label>
                                        <input type="text" id="txtSulphurCS" name="txtSulphurCS" disabled="disabled">
                                        <label for="txtSodiumCS">Sodium</label>
                                        <input type="text" id="txtSodiumCS" name="txtSodiumCS" disabled="disabled">
                                    </div>
                                    <br style="clear:both" />
                                    <br style="clear:both" />
                                    <div class="div-Radio-Checkbox">
                                        <input type="checkbox" id="cbAnotherCarbonSource" name="cbAnotherCarbonSource">
                                        <label for="cbAnotherCarbonSource">Add Another Carbon Source?</label>
                                    </div>
                                    </div>

                                @*Second Carbon Source*@
                                <br style="clear:both" />
                                <div id="divOverideInfoCS2" style="display:none;">
                                    <div class="div-Radio-Checkbox">
                                        <input type="checkbox" id="cbOverrideCS2" name="cbOverrideCS2">
                                        <label for="cbOverrideCS2">Override</label>
                                    </div>
                                    <br style="clear:both" />
                                    <hr />
                                    <div style="float:left; width:40%; margin:5px;">
                                        <label for="txtCarbonCS2">Carbon</label>
                                        <input type="text" id="txtCarbonCS2" name="txtCarbonCS2" disabled="disabled">
                                        <label for="txtHydrogenCS2">Hydrogen</label>
                                        <input type="text" id="txtHydrogenCS2" name="txtHydrogenCS2" disabled="disabled">
                                        <label for="txtOxygenCS2">Oxygen</label>
                                        <input type="text" id="txtOxygenCS2" name="txtOxygenCS2" disabled="disabled">
                                        <label for="txtNitrogenCS2">Nitrogen</label>
                                        <input type="text" id="txtNitrogenCS2" name="txtNitrogenCS2" disabled="disabled">
                                    </div>
                                    <div style="float:right; width:40%; margin:5px">
                                        <label for="txtPhosphorusCS2">Phosphorus</label>
                                        <input type="text" id="txtPhosphorusCS2" name="txtPhosphorusCS2" disabled="disabled">
                                        <label for="txtSulphurCS2">Sulphur</label>
                                        <input type="text" id="txtSulphurCS2" name="txtSulphurCS2" disabled="disabled">
                                        <label for="txtSodiumCS2">Sodium</label>
                                        <input type="text" id="txtSodiumCS2" name="txtSodiumCS2" disabled="disabled">
                                    </div>
                                    <br style="clear:both" />
                                    <br style="clear:both" />
                                    <div>
                                        <label for="txtCarbonSourcePercentage">Mass Percentage of Carbon Source 2 as Total Carbon %</label>
                                        <input type="text" id="txtCarbonSourcePercentage" name="txtCarbonSourcePercentage">
                                    </div>
                                    </div>
                                </div>
                            <div class="cbp-mc-submit-wrap"><input class="cbp-mc-submit" value="Next" readonly="readonly" onclick="viewSection3()" /></div>
                        </form>
                    </div>
                </section>
                <section id="section-3">
                    <div class="mediabox">
                        <form class="cbp-mc-form">
                            <div class="cbp-mc-column2">
                                <h3>Oxygen</h3>
                                <label for="lstOxygenSource">Oxygen Source</label>
                                <select id="lstOxygenSource" name="lstOxygenSource">
                                    <option>O2</option>
                                </select>
                                <br />
                                <h3>Compression</h3>
                                <label for="lstCompressorType">Compressor Type</label>
                                <select id="lstCompressorType" name="lstCompressorType">
                                    <option>Centrifugal Compressor</option>
                                </select>
                                <label for="lstMultistageCompression">Multistage Compression</label>
                                <select id="lstMultistageCompression" name="lstMultistageCompression">
                                    <option>Single Stage Compression</option>
                                </select>
                                <label for="lstCoolingMedium">Cooling Medium Used</label>
                                <select id="lstCoolingMedium" name="lstCoolingMedium">
                                    <option>Cooling Water</option>
                                </select>
                            </div>
                            <div class="cbp-mc-submit-wrap"><input class="cbp-mc-submit" value="Next" readonly="readonly" onclick="viewSection4()" /></div>
                        </form>
                    </div>
                </section>
                <section id="section-4">
                    <div class="mediabox">
                        <form class="cbp-mc-form">
                            <div class="cbp-mc-column2">
                                <h3>Nitrogen Source</h3>
                                <label for="lstProductCategoryNS">Product Category</label>
                                <select id="lstProductCategoryNS" name="lstProductCategoryNS">
                                    <option>Not Selected</option>
                                </select>
                                <label for="lstSpecificProductNS">Specific Product</label>
                                <select id="lstSpecificProductNS" name="lstSpecificProductNS">
                                    <option>Not Selected</option>
                                </select>
                                <div class="div-Radio-Checkbox">
                                    <input type="checkbox" id="cbOverrideNS" name="cbOverrideNS">
                                    <label for="cbOverrideNS">Override</label>
                                </div>
                                <br style="clear:both" />
                                <div id="divOverideInfoNS">
                                    <hr />
                                    <div style="float:left; width:40%; margin:5px;">
                                        <label for="txtCarbonNS">Carbon</label>
                                        <input type="text" id="txtCarbonNS" name="txtCarbonNS" disabled="disabled">
                                        <label for="txtHydrogenNS">Hydrogen</label>
                                        <input type="text" id="txtHydrogenNS" name="txtHydrogenNS" disabled="disabled">
                                        <label for="txtOxygenNS">Oxygen</label>
                                        <input type="text" id="txtOxygenNS" name="txtOxygenNS" disabled="disabled">
                                        <label for="txtNitrogenNS">Nitrogen</label>
                                        <input type="text" id="txtNitrogenNS" name="txtNitrogenNS" disabled="disabled">
                                    </div>
                                    <div style="float:right; width:40%; margin:5px">
                                        <label for="txtPhosphorusNS">Phosphorus</label>
                                        <input type="text" id="txtPhosphorusNS" name="txtPhosphorusNS" disabled="disabled">
                                        <label for="txtSulphurNS">Sulphur</label>
                                        <input type="text" id="txtSulphurNS" name="txtSulphurNS" disabled="disabled">
                                        <label for="txtSodiumNS">Sodium</label>
                                        <input type="text" id="txtSodiumNS" name="txtSodiumNS" disabled="disabled">
                                    </div>
                                    <br style="clear:both" />
                                    <br style="clear:both" />
                                    <div class="div-Radio-Checkbox">
                                        <input type="checkbox" id="cbAnotherNitrogenSource" name="cbAnotherNitrogenSource">
                                        <label for="cbAnotherNitrogenSource">Add Another Nitrogen Source?</label>
                                    </div>
                                </div>

                                @*Second Nitrogen Source*@
                                <br style="clear:both" />
                                <div id="divOverideInfoNS2" style="display:none;">
                                    <div class="div-Radio-Checkbox">
                                        <input type="checkbox" id="cbOverrideNS2" name="cbOverrideNS2">
                                        <label for="cbOverrideNS2">Override</label>
                                    </div>
                                    <br style="clear:both" />
                                    <hr />
                                    <div style="float:left; width:40%; margin:5px;">
                                        <label for="txtCarbonNS2">Carbon</label>
                                        <input type="text" id="txtCarbonNS2" name="txtCarbonNS2" disabled="disabled">
                                        <label for="txtHydrogenNS2">Hydrogen</label>
                                        <input type="text" id="txtHydrogenNS2" name="txtHydrogenNS2" disabled="disabled">
                                        <label for="txtOxygenNS2">Oxygen</label>
                                        <input type="text" id="txtOxygenNS2" name="txtOxygenNS2" disabled="disabled">
                                        <label for="txtNitrogenNS2">Nitrogen</label>
                                        <input type="text" id="txtNitrogenNS2" name="txtNitrogenNS2" disabled="disabled">
                                    </div>
                                    <div style="float:right; width:40%; margin:5px">
                                        <label for="txtPhosphorusNS2">Phosphorus</label>
                                        <input type="text" id="txtPhosphorusNS2" name="txtPhosphorusNS2" disabled="disabled">
                                        <label for="txtSulphurNS2">Sulphur</label>
                                        <input type="text" id="txtSulphurNS2" name="txtSulphurNS2" disabled="disabled">
                                        <label for="txtSodiumNS2">Sodium</label>
                                        <input type="text" id="txtSodiumNS2" name="txtSodiumNS2" disabled="disabled">
                                    </div>
                                    <br style="clear:both" />
                                    <br style="clear:both" />
                                    <div>
                                        <label for="txtNitrogenSourcePercentage">Mass Percentage of Nitrogen Source 2 as Total Nitrogen %</label>
                                        <input type="text" id="txtNitrogenSourcePercentage" name="txtNitrogenSourcePercentage">
                                    </div>
                                </div>
                            </div>
                            <div class="cbp-mc-submit-wrap"><input class="cbp-mc-submit" value="Next" readonly="readonly" onclick="viewSection5()" /></div>
                        </form>
                    </div>
                </section>
                <section id="section-5">
                    <div class="mediabox">
                        <form class="cbp-mc-form">
                            <div class="cbp-mc-column2">
                                <h3>Maintenance Co-Efficient</h3>
                                <div class="div-Radio-Checkbox">
                                    <input type="checkbox" id="cbMaintenanceCE" name="cbMaintenanceCE">
                                    <label for="cbMaintenanceCE">Include Maintanance Calculations?</label>
                                </div>
                                <label></label>
                                <div id="divMaintananceCalculations" style="display:none;">
                                    <br />
                                    <select id="lstMCEProduct" name="lstMCEProduct">
                                        <option>Product</option>
                                    </select>
                                    <br />
                                    <select id="lstMCEBiomass" name="lstMCEBiomass">
                                        <option>Biomass</option>
                                    </select>
                                    <br />
                                    <select id="lstMCECarbonSource" name="lstMCECarbonSource">
                                        <option>Carbon Source</option>
                                    </select>
                                    <div class="div-Radio-Checkbox">
                                        @Html.RadioButtonFor(model => model.strMaintenanceType, "Continuous", new { id = "bIsContinuous" })
                                        <label for="bIsContinuous">Continuous</label>
                                    </div>
                                    <br style="clear:both" />
                                    <div class="div-Radio-Checkbox">
                                        @Html.RadioButtonFor(model => model.strMaintenanceType, "Batch", new { id = "bIsBatch" })
                                        <label for="bIsBatch">Batch</label>
                                    </div>
                                    <br style="clear:both" />

                                    <label for="txtMCE">Maintenance Co-Efficient</label>
                                    <input type="text" id="txtMCE" name="txtMCE">
                                    <label for="txtMCEMaintenanceTime">Maintenance Time</label>
                                    <input type="text" id="txtMCEMaintenanceTime" name="txtMCEMaintenanceTime">
                                </div>
                            </div>
                            <div class="cbp-mc-submit-wrap"><input class="cbp-mc-submit" value="Next" readonly="readonly" onclick="viewSection6()" /></div>
                        </form>
                    </div>
                </section>
                <section id="section-6">
                    <div class="mediabox">
                        <form class="cbp-mc-form">
                            <div class="cbp-mc-column2">
                                <h3>Growth Rate</h3>
                                <label></label>
                                <select id="lstGRProduct" name="lstGRProduct">
                                    <option>Product</option>
                                </select>
                                <br />
                                <select id="lstGRBiomass" name="lstGRBiomass">
                                    <option>Biomass</option>
                                </select>
                                <br />
                                <select id="lstGRCarbonSource" name="lstGRCarbonSource">
                                    <option>Carbon Source</option>
                                </select>

                                <label for="txtBiomassConcentration">Initial Biomass Concentration<span style="text-transform:initial">(Cx, in)</span></label>
                                <input type="text" id="txtBiomassConcentration" name="txtBiomassConcentration">
                                <label for="txtFinalBiomassConcentration">Final Biomass Concentration<span style="text-transform:initial">(Cx, final)</span></label>
                                <input type="text" id="txtFinalBiomassConcentration" name="txtFinalBiomassConcentration">
                                <label for="txtMaxSpecificGrowthRate">Max. Specific Growth Rate<span style="text-transform:initial">(mmax)</span></label>
                                <input type="text" id="txtMaxSpecificGrowthRate" name="txtMaxSpecificGrowthRate">
                                <label for="txtNutritionConcLimit">Limiting Nutrient Concentration Giving Half Max Growth Rate*<span style="text-transform:initial">(Ks)</span></label>
                                <input type="text" id="txtNutritionConcLimit" name="txtNutritionConcLimit">
                                <label for="txtFinalConcentration">Final Product Concentration<span style="text-transform:initial">(*Carbon Source 1 Used as Reference)</span></label>
                                <input type="text" id="txtFinalConcentration" name="txtFinalConcentration">
                            </div>
                            <div class="cbp-mc-submit-wrap"><input class="cbp-mc-submit" value="Next" readonly="readonly" onclick="viewSection7()" /></div>
                        </form>
                    </div>
                </section>
                <section id="section-7">
                    <div class="mediabox">
                        <form class="cbp-mc-form">
                            <div class="cbp-mc-column2">
                                <h3>Yeild Co-Efficient</h3>
                                <label></label>
                                <select id="lstYCProduct" name="lstYCProduct">
                                    <option>Product</option>
                                </select>
                                <br />
                                <select id="lstYCBiomass" name="lstYCBiomass">
                                    <option>Biomass</option>
                                </select>
                                <br />
                                <select id="lstYCCarbonSource" name="lstYCCarbonSource">
                                    <option>Carbon Source</option>
                                </select>
                                <label for="txtBiomassSubstrate">Biomass on Substrate<span style="text-transform:initial">(Yx/s)</span></label>
                                <input type="text" id="txtBiomassSubstrate" name="txtBiomassSubstrate">
                                <label for="txtProductSubstrate">Product on Substrate<span style="text-transform:initial">(Yp/s)</span></label>
                                <input type="text" id="txtProductSubstrate" name="txtProductSubstrate">
                                <label for="txtBiomassOnOxygenER">Biomass on Oxygen 1: <span style="text-transform:initial">Expected Result:(Yx/o*)</span></label>
                                <input type="text" id="txtBiomassOnOxygenER" name="txtBiomassOnOxygenER">
                                <label for="txtBiomassOnOxygenCV">Biomass on Oxygen 2: <span style="text-transform:initial">Calculated Value:(Yx/o*)</span></label>
                                <input type="text" id="txtBiomassOnOxygenCV" name="txtBiomassOnOxygenCV">
                                <label for="txtProductProductivity">Product Productivity</label>
                                <input type="text" id="txtProductProductivity" name="txtProductProductivity">
                                <label for="txtBiomassOnOxygenInfo"><span style="text-transform:initial">*Yx/o value not used in calculations - this is an indication of the expected results(1) vs. the calculated value (2)</span></label>
                            </div>
                            <div class="cbp-mc-submit-wrap"><input class="cbp-mc-submit" readonly="readonly" value="Done" onclick="window.location.href = '@Url.Action("Agitation", "FlowPages")'" /></div>
                        </form>
                    </div>
                </section>
            </div><!-- /content -->
        </div><!-- /tabs -->
        @*<p class="info">Food Shapes/Icons by <a href="http://psdblast.com/50-food-icon-set-psd">PsdBlast</a></p>*@
        <p class="info"><a href="https://www.wits.ac.za/">University of the Witwatersrand</a></p>
    </div>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Content/Theme/js/cbpFWTabs.js"></script>
    <script>
			new CBPFWTabs( document.getElementById( 'tabs' ) );
    </script>
    <script>
        function viewSection2() {

            document.getElementById('section2').click();
        }
        function viewSection3() {

            document.getElementById('section3').click();
        }
        function viewSection4() {

            document.getElementById('section4').click();
        }
        function viewSection5() {

            document.getElementById('section5').click();
        }
        function viewSection6() {

            document.getElementById('section6').click();
        }
        function viewSection7() {

            document.getElementById('section7').click();
        }
        function viewSection8() {

            document.getElementById('section8').click();
        }
    </script>

    <script type="text/javascript">
        $("#cbOverrideIP").click(function () {
            if ($('#cbOverrideIP').is(':checked')) {
                $('#txtCarbonIP').removeAttr("disabled");
                $('#txtHydrogenIP').removeAttr("disabled");
                $('#txtOxygenIP').removeAttr("disabled");
                $('#txtNitrogenIP').removeAttr("disabled");
                $('#txtPhosphorusIP').removeAttr("disabled");
                $('#txtSulphurIP').removeAttr("disabled");
                $('#txtSodiumIP').removeAttr("disabled");
            }
            else {
                $('#txtCarbonIP').attr("disabled", "disabled");
                //$("#txtCarbonIP").val("");
                $('#txtHydrogenIP').attr("disabled", "disabled");
                //$("#txtHydrogenIP").val("");
                $('#txtOxygenIP').attr("disabled", "disabled");
                //$("#txtOxygenIP").val("");
                $('#txtNitrogenIP').attr("disabled", "disabled");
                //$("#txtNitrogenIP").val("");
                $('#txtPhosphorusIP').attr("disabled", "disabled");
               // $("#txtPhosphorusIP").val("");
                $('#txtSulphurIP').attr("disabled", "disabled");
                //$("#txtSulphurIP").val("");
                $('#txtSodiumIP').attr("disabled", "disabled");
                //$("#txtSodiumIP").val("");
            }
        });
    </script>
    <script type="text/javascript">
        $("#cbOverrideBM").click(function () {
            if ($('#cbOverrideBM').is(':checked')) {
                $('#txtCarbonBM').removeAttr("disabled");
                $('#txtHydrogenBM').removeAttr("disabled");
                $('#txtOxygenBM').removeAttr("disabled");
                $('#txtNitrogenBM').removeAttr("disabled");
                $('#txtPhosphorusBM').removeAttr("disabled");
                $('#txtSulphurBM').removeAttr("disabled");
                $('#txtSodiumBM').removeAttr("disabled");
            }
            else {
                $('#txtCarbonBM').attr("disabled", "disabled");
                //$("#txtCarbonBM").val("");
                $('#txtHydrogenBM').attr("disabled", "disabled");
                //$("#txtHydrogenBM").val("");
                $('#txtOxygenBM').attr("disabled", "disabled");
                //$("#txtOxygenBM").val("");
                $('#txtNitrogenBM').attr("disabled", "disabled");
                //$("#txtNitrogenBM").val("");
                $('#txtPhosphorusBM').attr("disabled", "disabled");
                //$("#txtPhosphorusBM").val("");
                $('#txtSulphurBM').attr("disabled", "disabled");
                //$("#txtSulphurBM").val("");
                $('#txtSodiumBM').attr("disabled", "disabled");
                //$("#txtSodiumBM").val("");
            }
        });
    </script>
    <script type="text/javascript">
        $("#cbOverrideCS").click(function () {
            if ($('#cbOverrideCS').is(':checked')) {
                $('#txtCarbonCS').removeAttr("disabled");
                $('#txtHydrogenCS').removeAttr("disabled");
                $('#txtOxygenCS').removeAttr("disabled");
                $('#txtNitrogenCS').removeAttr("disabled");
                $('#txtPhosphorusCS').removeAttr("disabled");
                $('#txtSulphurCS').removeAttr("disabled");
                $('#txtSodiumCS').removeAttr("disabled");
            }
            else {
                $('#txtCarbonCS').attr("disabled", "disabled");
                //$("#txtCarbonCS").val("");
                $('#txtHydrogenCS').attr("disabled", "disabled");
                //$("#txtHydrogenCS").val("");
                $('#txtOxygenCS').attr("disabled", "disabled");
                //$("#txtOxygenCS").val("");
                $('#txtNitrogenCS').attr("disabled", "disabled");
                //$("#txtNitrogenCS").val("");
                $('#txtPhosphorusCS').attr("disabled", "disabled");
                //$("#txtPhosphorusCS").val("");
                $('#txtSulphurCS').attr("disabled", "disabled");
                //$("#txtSulphurCS").val("");
                $('#txtSodiumCS').attr("disabled", "disabled");
                //$("#txtSodiumCS").val("");
            }
        });
    </script>
    <script type="text/javascript">
        $("#cbOverrideCS2").click(function () {
            if ($('#cbOverrideCS2').is(':checked')) {
                $('#txtCarbonCS2').removeAttr("disabled");
                $('#txtHydrogenCS2').removeAttr("disabled");
                $('#txtOxygenCS2').removeAttr("disabled");
                $('#txtNitrogenCS2').removeAttr("disabled");
                $('#txtPhosphorusCS2').removeAttr("disabled");
                $('#txtSulphurCS2').removeAttr("disabled");
                $('#txtSodiumCS2').removeAttr("disabled");
            }
            else {
                $('#txtCarbonCS2').attr("disabled", "disabled");
                //$("#txtCarbonCS").val("");
                $('#txtHydrogenCS2').attr("disabled", "disabled");
                //$("#txtHydrogenCS").val("");
                $('#txtOxygenCS2').attr("disabled", "disabled");
                //$("#txtOxygenCS").val("");
                $('#txtNitrogenCS2').attr("disabled", "disabled");
                //$("#txtNitrogenCS").val("");
                $('#txtPhosphorusCS2').attr("disabled", "disabled");
                //$("#txtPhosphorusCS").val("");
                $('#txtSulphurCS2').attr("disabled", "disabled");
                //$("#txtSulphurCS").val("");
                $('#txtSodiumCS2').attr("disabled", "disabled");
                //$("#txtSodiumCS").val("");
            }
        });
    </script>
    <script type="text/javascript">
        $("#cbOverrideNS").click(function () {
            if ($('#cbOverrideNS').is(':checked')) {
                $('#txtCarbonNS').removeAttr("disabled");
                $('#txtHydrogenNS').removeAttr("disabled");
                $('#txtOxygenNS').removeAttr("disabled");
                $('#txtNitrogenNS').removeAttr("disabled");
                $('#txtPhosphorusNS').removeAttr("disabled");
                $('#txtSulphurNS').removeAttr("disabled");
                $('#txtSodiumNS').removeAttr("disabled");
            }
            else {
                $('#txtCarbonNS').attr("disabled", "disabled");
                //$("#txtCarbonNS").val("");
                $('#txtHydrogenNS').attr("disabled", "disabled");
                //$("#txtHydrogenNS").val("");
                $('#txtOxygenNS').attr("disabled", "disabled");
                //$("#txtOxygenNS").val("");
                $('#txtNitrogenNS').attr("disabled", "disabled");
                //$("#txtNitrogenNS").val("");
                $('#txtPhosphorusNS').attr("disabled", "disabled");
                //$("#txtPhosphorusNS").val("");
                $('#txtSulphurNS').attr("disabled", "disabled");
                //$("#txtSulphurNS").val("");
                $('#txtSodiumNS').attr("disabled", "disabled");
                //$("#txtSodiumNS").val("");
            }
        });
    </script>
    <script type="text/javascript">
        $("#cbOverrideNS2").click(function () {
            if ($('#cbOverrideNS2').is(':checked')) {
                $('#txtCarbonNS2').removeAttr("disabled");
                $('#txtHydrogenNS2').removeAttr("disabled");
                $('#txtOxygenNS2').removeAttr("disabled");
                $('#txtNitrogenNS2').removeAttr("disabled");
                $('#txtPhosphorusNS2').removeAttr("disabled");
                $('#txtSulphurNS2').removeAttr("disabled");
                $('#txtSodiumNS2').removeAttr("disabled");
            }
            else {
                $('#txtCarbonNS2').attr("disabled", "disabled");
                //$("#txtCarbonNS").val("");
                $('#txtHydrogenNS2').attr("disabled", "disabled");
                //$("#txtHydrogenNS").val("");
                $('#txtOxygenNS2').attr("disabled", "disabled");
                //$("#txtOxygenNS").val("");
                $('#txtNitrogenNS2').attr("disabled", "disabled");
                //$("#txtNitrogenNS").val("");
                $('#txtPhosphorusNS2').attr("disabled", "disabled");
                //$("#txtPhosphorusNS").val("");
                $('#txtSulphurNS2').attr("disabled", "disabled");
                //$("#txtSulphurNS").val("");
                $('#txtSodiumNS2').attr("disabled", "disabled");
                //$("#txtSodiumNS").val("");
            }
        });
    </script>
    <script type="text/javascript">
        $("#cbAnotherCarbonSource").click(function () {
            if ($('#cbAnotherCarbonSource').is(':checked')) {
                $("#divOverideInfoCS2").show();
            }
            else {
                $("#divOverideInfoCS2").hide();
            }
        });
    </script>

    <script type="text/javascript">
        $("#cbAnotherNitrogenSource").click(function () {
            if ($('#cbAnotherNitrogenSource').is(':checked')) {
                $("#divOverideInfoNS2").show();
            }
            else {
                $("#divOverideInfoNS2").hide();
            }
        });
    </script>
    <script type="text/javascript">
        $("#cbMaintenanceCE").click(function () {
            if ($('#cbMaintenanceCE').is(':checked')) {
                $("#divMaintananceCalculations").show();
            }
            else {
                $("#divMaintananceCalculations").hide();
            }
        });
    </script>
    @*<script type="text/javascript">
            $("#cbOverrideIP").click(function () {
                if ($('#cbOverrideIP').is(':checked')) {
                    $("#divOverideInfoIP").show();
                }
                else {
                    $("#divOverideInfoIP").hide();
                }
            });

            $("#cbOverrideBM").click(function () {
                if ($('#cbOverrideBM').is(':checked')) {
                    $("#divOverideInfoBM").show();
                }
                else {
                    $("#divOverideInfoBM").hide();
                }
            });

            $("#cbOverrideCS").click(function () {
                if ($('#cbOverrideCS').is(':checked')) {
                    $("#divOverideInfoCS").show();
                }
                else {
                    $("#divOverideInfoCS").hide();
                }
            });

            $("#cbOverrideNS").click(function () {
                if ($('#cbOverrideNS').is(':checked')) {
                    $("#divOverideInfoNS").show();
                }
                else {
                    $("#divOverideInfoNS").hide();
                }
            });
        </script>*@
</body>
</html>