﻿@using MvcSiteMapProvider.Web.Html
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wits Enterprise</title>
    <meta name="description" content="Wits Enterprise" />
    <meta name="keywords" content="responsive tabs, full width tabs, template, blueprint" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/css/demoTab.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/css/componentTab.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/css/default.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/css/component.css" />
    <script src="~/Content/Theme/js/modernizr.custom.js"></script>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <header class="clearfix">
            <span>University of the Witwatersrand </span>
            <h1>Wits Enterprise</h1>
            <br style="clear:both" />
            <h2>Results</h2>
            <nav>
                <a href="@Url.Action("WasteWaterTreatment","FlowPages")" class="bp-icon bp-icon-prev" data-info="Waste Water Treatment"><span>Waste Water Treatment</span></a>
                @*<a href="@Url.Action("Results","FlowPages")" class="bp-icon bp-icon-next" data-info="Results"><span>Results</span></a>*@
            </nav>
            @Html.MvcSiteMap().SiteMapPath()
        </header>
        <div class="normalInnerContent">
            <form class="cbp-mc-form">
                <div class="cbp-mc-column">
                    @*<h3>Results</h3>*@
                    <div style="border:solid; border-color:white; border-width:1px;">
                        <div style="float:left;">
                            <label style="float:left; font-weight:bold;">Product Name</label>
                            <label style="float:left;">Arginine</label>
                        </div>
                        <div style="float:right;">
                            <label style="float:left; font-weight:bold;">Total Product Mass: <span style="font-weight:100;">401.1121 kg</span></label>
                            <label style="float:left; font-weight:bold;">Product Mass: <span style="font-weight:100;">16/8 kg</span></label>
                            <label style="float:left; font-weight:bold;">Purity: <span style="font-weight:100;">4.11 %</span></label>
                            <label style="float:left; font-weight:bold;">Recovery: <span style="font-weight:100;">56.13 %</span></label>
                        </div>
                    </div>
                </div>
                <div class="cbp-mc-submit-wrap"><input class="cbp-mc-submit" value="Home" readonly="readonly" onclick="window.location.href = '@Url.Action("Dashboard", "FlowPages")'" /></div>
            </form>
        </div>
        @*<p class="info">Food Shapes/Icons by <a href="http://psdblast.com/50-food-icon-set-psd">PsdBlast</a></p>*@
        <p class="info"><a href="https://www.wits.ac.za/">University of the Witwatersrand</a></p>
    </div>
    @Scripts.Render("~/bundles/jquery")

</body>
</html>
