﻿@using MvcSiteMapProvider.Web.Html
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wits Enterprise</title>
    <meta name="description" content="Wits Enterprise" />
    <meta name="keywords" content="responsive tabs, full width tabs, template, blueprint" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/css/demoTab.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/css/componentTab.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/css/default.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Theme/css/component.css" />
    <script src="~/Content/Theme/js/modernizr.custom.js"></script>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <header class="clearfix">
            <span>University of the Witwatersrand </span>
            <h1>Wits Enterprise</h1>
            <br style="clear:both" />
            <h2>Solid Liquid Seperation</h2>
            <nav>
                <a href="@Url.Action("CellDisruption","FlowPages")" class="bp-icon bp-icon-prev" data-info="Cell Disruption"><span>Cell Disruption</span></a>
                <a href="@Url.Action("ConcentrationPurification","FlowPages")" class="bp-icon bp-icon-next" data-info="Concentration/Purification"><span>Concentration/Purification</span></a>
            </nav>
            @Html.MvcSiteMap().SiteMapPath()
        </header>
        <div class="normalInnerContent">
            <form class="cbp-mc-form">
                <div class="cbp-mc-column">
                    @*<h3>Solid Liquid Seperation</h3>*@
                    <label for="lstSeperationMethod">Seperation Method</label>
                    <select id="lstSeperationMethod" name="lstSeperationMethod">
                        <option>Not Selected</option>
                    </select>
                    <label for="txtTotMassFractionSolids">Mass Fraction of Total Solids in Solid Stream</label>
                    <input type="text" id="txtTotMassFractionSolids" name="txtTotMassFractionSolids">
                    <label for="txtTotMassFractionLiquids">Mass Fraction of Total Liquids in Liquid Stream</label>
                    <input type="text" id="txtTotMassFractionLiquids" name="txtTotMassFractionLiquids">
                    <label for="txtPressureGradient">Pressure Gradient</label>
                    <input type="text" id="txtPressureGradient" name="txtPressureGradient">
                    <label for="txtFiltrationArea">Filtration Area</label>
                    <input type="text" id="txtFiltrationArea" name="txtFiltrationArea">
                    <label for="txtEfficiency">Efficiency</label>
                    <input type="text" id="txtEfficiency" name="txtEfficiency">

                    <label for="lstFlocculent">Flocculent</label>
                    <select id="lstFlocculent" name="lstFlocculent">
                        <option>Not Selected</option>
                    </select>
                    <label for="lstFilterMedia">Filter Media</label>
                    <select id="lstFilterMedia" name="lstFilterMedia">
                        <option>Not Selected</option>
                    </select>

                    <div style="float:left; width:40%; margin:5px;">
                        <label for="txtCarbonSLS">Carbon</label>
                        <input type="text" id="txtCarbonSLS" name="txtCarbonSLS">
                        <label for="txtHydrogenSLS">Hydrogen</label>
                        <input type="text" id="txtHydrogenSLS" name="txtHydrogenSLS">
                        <label for="txtOxygenSLS">Oxygen</label>
                        <input type="text" id="txtOxygenSLS" name="txtOxygenSLS">
                        <label for="txtNitrogenSLS">Nitrogen</label>
                        <input type="text" id="txtNitrogenSLS" name="txtNitrogenSLS">
                        <label for="txtPhosphorusSLS">Phosphorus</label>
                        <input type="text" id="txtPhosphorusSLS" name="txtPhosphorusSLS">
                        <label for="txtSulphurSLS">Sulphur</label>
                        <input type="text" id="txtSulphurSLS" name="txtSulphurSLS">
                        <label for="txtSodiumSLS">Sodium</label>
                        <input type="text" id="txtSodiumSLS" name="txtSodiumSLS">
                    </div>
                    <div style="float:right; width:40%; margin:5px">
                        <label for="txtFilterMediaHeight">Filter Media Height</label>
                        <input type="text" id="txtFilterMediaHeight" name="txtFilterMediaHeight">
                        <label for="txtDensity">Density <span style="font-size:14px;">(Filter Media)</span></label>
                        <input type="text" id="txtDensity" name="txtDensity">
                        <label for="txtVoidage">Voidage</label>
                        <input type="text" id="txtVoidage" name="txtVoidage">
                        <label for="txtPackedDensity">Packed Density</label>
                        <input type="text" id="txtPackedDensity" name="txtPackedDensity">
                        <label for="txtMassFM">Mass <span style="font-size:14px;">(Filter Media)</span></label>
                        <input type="text" id="txtMassFM" name="txtMassFM">
                        <label for="txtFilterMediaChanged">Filter Media is Changed Every</label>
                        <input type="text" id="txtFilterMediaChanged" name="txtFilterMediaChanged">
                    </div>
                </div>
                <div class="cbp-mc-submit-wrap"><input class="cbp-mc-submit" value="Next" readonly="readonly" onclick="window.location.href = '@Url.Action("ConcentrationPurification", "FlowPages")'" /></div>
            </form>
        </div>
        @*<p class="info">Food Shapes/Icons by <a href="http://psdblast.com/50-food-icon-set-psd">PsdBlast</a></p>*@
        <p class="info"><a href="https://www.wits.ac.za/">University of the Witwatersrand</a></p>
    </div>
    @Scripts.Render("~/bundles/jquery")

</body>
</html>
